{% extends "students/base.html" %}
{% block content %}
{% load static %}
  <div>
  </br>
     <div class="jumbotron text-center text-white jumbotron-image shadow" style="background-image: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
      <h1>Student Details</h1>
    </div>
  </div>

<div class="container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>Wizard ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Major</th>
        <th>Year</th>
        <th>GPA</th>
      </tr>
      </thead>
      <tbody>
        {% for row in details %}
        <tr>
          <td>{{ row.studentid }}</td>
          <td>{{ row.firstname }}</td>
          <td>{{ row.lastname }}</td>
          <td>{{ row.major }}</td>
          <td>{{ row.year }}</td>
          <td>{{ row.gpa }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if details.has_previous %}
        <a href="?page={{ details.previous_page_number }}">Back</a>
      {% endif %}
      <span class="Current">
        Page {{ details.number }} of {{ details.paginator.num_pages }}
      </span>
      {% if details.has_next %}
        <a href="?page={{ details.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </div>
</div>
<footer class="container-fluid text-center">
	<p> | Hogwarts Academy | 2021 | </p> 
</footer>
{% endblock %}
